@media (orientation: portrait) {
    * {
        font-family: "Roboto", sans-serif;
        margin: 0;
        padding: 0;
    }

    body {
        display: flex;
        flex-direction: column;
        
    }

    ul {
        list-style-type: none;
    }

    .nyurga-image {
        height: 100%;
        width: 100%;
    }

    button {
        border: none;
    }

    .header {
        display: flex;
        justify-content: space-between;
        padding: 2vw 5vw;
        background-color: #1F2937;
        font-size: 5vw;
    }

    .header * {
        color: #F9FAF8;
    }

    .header .logo {
        font-weight: bold;
    }

    .header .links ul {
        display: flex;
        gap: 3vw;
    }

    .first-block {
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
        padding: 15vw 5vw;
        justify-content: space-between;
        color: #F9FAF8;    
        background-color: #1F2937;
    }

    .text-and-button {
        display: flex;
        flex-direction: column;
        gap: 5vw;
    }

    .hero-text {
        font-size: 15vw;
        font-weight: bold;
        text-align: center;
    }

    .text-and-button p {
        font-size: 10vw;
        text-align: center;
    }

    .text-and-button button {
        background-color: #3882F6;
        color: #F9FAF8;
        border-radius: 5px;
        width: 125px;
        height: 55px;
        align-self: center;
    }

    .second-block {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 15vw 5vw;
        padding-top: 10vw;
        gap: 5vw;
        text-align: center;
    }

    .second-block h1 {
        font-size: 10vw;
    }

    .second-block ul {
        display: flex;
        flex-wrap: wrap;
        gap: 5vw;
    }

    .second-block ul li {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 5vw;
        color: #1F2937;
        gap: 3vw;
    }

    .third-block {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 15vw 5vw;
        background-color: #E5E7EB;
    }

    .quote {
        font-size: 15vw;
        font-weight: lighter;
        font-style: italic;
    }

    .fourth-block {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5vw 10vw;
        margin: 15vw 5vw;
        border-radius: 5vw;
        background-color: #3882F6;
        color: #F9FAF8;
    }

    .call-to-action {
        display: flex;
        flex-flow: column;
    }

    .call-to-action h1 {
        font-size: 5vw;
    }

    .call-to-action p {
        font-size: 5vw;
    }

    .fourth-block button {
        background-color: #3882F6;
        color: #F9FAF8;
        border-radius: 5vw;
        border: 1px solid #F9FAF8;
        width: 30vw;
        height: 20vw;
    }

    .footer {
        text-align: center;
        align-content: center;
        padding: 5vw;
        background-color: #1F2937;
        color: #F9FAF8;
    }
} 

@media (orientation: landscape) {
    * {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    }

    body {
        display: flex;
        flex-direction: column;
        
    }

    ul {
        list-style-type: none;
    }

    .nyurga-image {
        height: 25vw;
        width: auto;
    }

    button {
        border: none;
    }

    .header {
        display: flex;
        justify-content: space-between;
        padding: 1vw 2vw;
        background-color: #1F2937;
        font-size: 2vw;
    }

    .header * {
        color: #F9FAF8;
    }

    .header .logo {
        font-weight: bold;
    }

    .header .links ul {
        display: flex;
        gap: 2vw;
    }

    .first-block {
        display: flex;
        gap: 10vw;
        align-items: center;
        padding: 7vw 7vw;
        justify-content: space-between;
        color: #F9FAF8;    
        background-color: #1F2937;
    }

    .text-and-button {
        display: flex;
        flex-direction: column;
        gap: 2vw;
    }

    .hero-text {
        font-size: 4vw;
        font-weight: bold;
    }

    .text-and-button p {
        font-size: 2vw;
    }

    .text-and-button button {
        background-color: #3882F6;
        color: #F9FAF8;
        border-radius: 1vw;
        width: 15vw;
        height: 5vw;
    }

    .second-block {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 7vw 7vw;
        gap: 5vw;
    }

    .second-block h1 {
        font-size: 3vw;
    }

    .second-block ul {
        display: flex;
        gap: 32px;
        text-align: center;
    }

    .second-block ul li {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 3vw;
        color: #1F2937;
        gap: 1.5vw;
    }

    .third-block {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 14vw 7vw;
        background-color: #E5E7EB;
    }

    .quote {
        font-size: 7vw;
        font-weight: lighter;
        font-style: italic;
    }

    .fourth-block {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5vw 7vw;
        margin: 7vw 7vw;
        border-radius: 3vw;
        background-color: #3882F6;
        color: #F9FAF8;
    }

    .call-to-action {
        display: flex;
        flex-flow: column;
        gap: 0.5vw;
    }

    .fourth-block button {
        background-color: #3882F6;
        color: #F9FAF8;
        border-radius: 3vw;
        border: 1px solid #F9FAF8;
        width: 20vw;
        height: 10vw;
    }

    .footer {
        text-align: center;
        align-content: center;
        padding: 3vw;
        background-color: #1F2937;
        color: #F9FAF8;
    }
} 